/admin-service/.idea
/admin-service/.php_cs.cache
/admin-service/.phpunit.result.cache
/admin-service/.vscode
/admin-service/.vagrant
/admin-service/*.hot
/admin-service/stubs
/admin-service/data
/admin-service/docker-compose-collection
/admin-service/Homestead.json
/admin-service/Homestead.yaml
/admin-service/ignorables/*
/admin-service/node_modules
/admin-service/npm-debug.log
/admin-service/package-lock.json
/admin-service/public/css
/admin-service/public/js
/admin-service/public/hot
/admin-service/public/storage
/admin-service/public/vendor
/admin-service/lang/vendor
/admin-service/storage/*.key
/admin-service/storage/dcc-data/
**/vendor/
/admin-service/yarn.lock
/admin-service/yarn-error.log
